footer.container
	#contact-wrapper.clearfix
		#social.f-left
			p Sigue nuestras historias en ...
			ul
				li
					a#instagram.fa.fa-instagram
				li
					a#facebook.fa.fa-facebook(href="https://www.facebook.com/Yuyari-1434070800212584/?fref=ts", target="_blank")
				li
					a#pinterest.fa.fa-pinterest
				li
					a#twitter.fa.fa-twitter
				li
					a#youtube.fa.fa-youtube
						
		aside#contact.f-right
			div
				span Escribenos:
				a(href="mailto:manolo142@hotmail.com?Subject=Yuyari%20Contacto")#mail-img.fa.fa-envelope
			div
				span Contáctanos:
				ul#numeros-contacto
					li 994 245898
					li 322 7593
				span#phone-img.fa.fa-phone
					
	p#copyright Todos los derechos reservados. Yuyari 2016