doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title Yuyari

	// CSS Vendors
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=PT+Sans:400,700")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico")
	link(rel="stylesheet", href="/public/css/vendor/normalize.css")
	link(rel="stylesheet", href="/public/css/font-awesome.min.css")
	link(rel="stylesheet", href="/public/css/vendor/lightbox.min.css")
	link(rel="stylesheet", href="/public/css/vendor/nouislider.min.css")
	link(rel="stylesheet", href="/public/css/sweetalert.css")

	// CSS App
	link(rel="stylesheet", href="/public/css/all.css")
	block css