extend ./masters/layout.jade

block css
  link(rel="stylesheet", href="public/css/about.css")
 
block main

  main.container
    .bkg-opacity
      h2 Quiénes somos

    section
      p Somos una empresa que se dedica a la fabricación y manufactura de joyas personalizadas mediante el uso de técnicas de última tecnología y  la reincorporación de los antiguos maestros de la joyería
