extend ./masters/layout.jade

block css
	link(rel="stylesheet", href="public/css/galeria.css")

block main

	- var imgs = [];
	- imgs[0] = {'src': '/public/img/galeria/galeria1.png'};
	- imgs[1] = {'src': '/public/img/galeria/galeria2.png'};
	- imgs[2] = {'src': '/public/img/galeria/galeria3.png'};
	- imgs[3] = {'src': '/public/img/galeria/galeria4.png'};
	- imgs[4] = {'src': '/public/img/galeria/galeria5.png'};
	- imgs[5] = {'src': '/public/img/galeria/galeria6.png'};
	- imgs[6] = {'src': '/public/img/galeria/galeria7.png'};
	- imgs[7] = {'src': '/public/img/galeria/galeria8.png'};
	- imgs[8] = {'src': '/public/img/galeria/galeria9.png'};


	main.container.galeria
		.bkg-opacity
			h2 Galería
		
		.dashed-border-wrapper
			ul#gallery
				each img, index in imgs
					li
						figure(data-lightbox="#{index}")
							img(src="#{img.src}")
							div #{index}

		.bkg-opacity#bottom-space

//block scripts
