extend ./masters/layout.jade

block css
	link(rel="stylesheet", href="/public/css/reset.css")

block main

	main.container.clearfix
		section
			h2.text-center Recuperar contraseña

			if message.length
				.alert.success-msg.fa.fa-check #{message}

			if error.length
				.alert.error-msg.fa.fa-exclamation-triangle #{error}
			form#form-recover(method="POST")
				#errors.hide.alert.error-msg.fa.fa-exclamation-triangle
				.input-wrapper.clearfix
					label(for="password") Contraseña
					input#password(type="password", name="password", required, pattern=".{6,}", title="Minimo 6 caracteres")

				.input-wrapper.clearfix
					label(for="confirm-password") Confirma contraseña
					input#confirm-password(type="password", name="confirm", required, pattern=".{6,}", title="Minimo 6 caracteres")
				div.loading.hide#spinner
					span.fa.fa-spin.fa-spinner

				button#submit-recover Actualizar clave

block scripts
	script(src="/public/build/forgotReset.min.js")
	script(src="/public/build/login.min.js")
