include ../includes/head.jade
// block css inside head.jade

body

	include ../includes/header.jade

	include ../includes/nav.jade

	block main

	include ../includes/footer.jade

include ../includes/scripts.jade
// block scripts inside scripts.jade