body
  font-family: 'Pacifico', cursive
  
#steps-wrapper
#header-options-wrapper,
footer
  font-family: sans-serif
  font-weight: 600

figure
  line-height 0
  margin 0
	
  img
    height 100%
    width 100%
		
ul
  list-style none
  padding 0
  margin 0

.hide
  display none

.alert
  padding 10px
  background whitesmoke
  color #d04437
  border 2px solid #d04437
  border-left 40px solid #d04437
  font-weight 700
  text-align center
  position relative
  margin-bottom 10px

  &:before
    color white
    position absolute
    left -28px

.error
  border 2px solid red !important

.error-msg
  color #d04437
  border 2px solid #d04437
  border-left 40px solid #d04437

.success-msg
  color #87D37C
  border 2px solid #87D37C
  border-left 40px solid #87D37C


