section
  margin 0 auto 30px auto
  width 500px
  text-align center
  h2
    color white
    margin-bottom 50px

  form
    margin

    .input-wrapper
      margin-bottom 1.5rem
      position relative
      
				
      input
        border 2px solid #49b8ff //
        box-sizing border-box
        display inline-block
        width 60%
					
			label
        color #49b8ff
        display inline-block
        margin-right 20px

    button
      background-color: #579d9f
      border 0
      color white
      display block
      margin 0 auto
      outline 0
      padding 10px 30px