main
	background url("/public/img/fondoLimpio.jpg") no-repeat center center
	background-size cover
	box-sizing border-box
	
	h2
		color #6ec0bc
		margin 30px 50px 10px
		text-shadow -2px 1px 0 #000
		
	#bottom-space
		height 100px
		
	.dashed-border-wrapper
		
		ul#gallery
			display block
			margin 30px auto
			
			li
				display inline-block
				margin 15px
				
				figure
					width 233px
					height 208px