@import "variables"

#como-lo-hacemos
	text-align center
	
	button
		background-color #ff46ab
		border none
		border-radius 8px
		color #fff
		height 42px
		margin 27px auto
		outline none
		text-shadow -2px 1px 0 rgba(0, 0, 0, 0.5)
		width 227px
		a
			text-decoration none
			color #fff
		
	h3
		color #999999
		font-size 25px //
		margin-bottom 10px //
		margin-top 58px
	
	#steps-wrapper
		background-color $marron_oscuro
		margin 0 30px //
		
		ul
			font-size 0
			margin 0 30px //

			li
				box-sizing border-box
				display inline-block
				font-size 12px //
				padding 0 30px //
				vertical-align top
				width 25%
				
				figure
					background-color #999999
					border-radius 50%
					display inline-block
					height 126px
					margin 37px 0 23px
					width 126px
				p
					color #ffffff
					opacity .5
					margin 0 0 23px //
