@import "variables.styl"

main
	background url("/public/img/fondoLimpio.jpg") no-repeat center center
	background-size cover
	box-sizing border-box

	h2
		color #6ec0bc
		margin 30px 50px 10px
		text-shadow -2px 1px 0 #000

	#bottom-space
		height 100px
		
	#personalize-ways
		padding 0 50px
		
		ul
			box-sizing border-box
			font-size 0
			padding 40px 30px
			
			li
				box-sizing border-box
				display inline-block
				font-size 1rem
				width 50%
				
				article
					background-color #579e9e
					border-radius 20px //
					box-sizing border-box
					color white
					margin 0 auto
					padding 10px 56px //
					text-align center
					width 318px
					
					figure
						height 190px //
						
					h4
						color white
						font-size 20px //
						margin-top 0
						text-shadow -2px 1px 0 #666666 //
						
					p
						margin-bottom 0