section
	box-sizing border-box
	padding 0 50px 30px //
	width 60%
	margin 0 auto 
	text-align center

	h2
		color white

	form
		button
			background-color #579d9f
			border 0
			color white
			margin 0 auto
			outline 0
			padding 10px 30px

		.input-wrapper
			margin-bottom 1.5rem
			position relative
				
			label
				color #49b8ff
				display block
				left 0
				line-height .8rem
				position absolute
				text-align right
				top 50%
				transform translateY(-50%)
				width 40%
        
			input
				border 2px solid #49b8ff //
				box-sizing border-box
				float right
				height 2rem
				padding 5px
				width 50%

